.table-title {
    color: #04fbff;
    background-color: #153963;
    padding: 0.7rem;
}

.btn-light {
    color: #153963;
    background-color: #04fbff;
    border-color: #04fbff;
}

th {
    background-color: #04fbff41;
    color: #153963;
}

.delete {
    color: #e20004;
}

.edit {
    color: #f89e49;
}