.table-title {
    color: #fff3b0;
    background-color: #335c67;
    padding: 0.7rem;
}

.btn-light {
    color: #335c67;
    background-color: #fff3b0;
    border-color: #fff3b0;
}

th {
    background-color: #540b0e;
    color: white;
}

.delete {
    color: #9e2a2b;
}

.edit {
    color: #335c67;
}