.table-title {
    color: white;
    background-color: #153963;
    padding: 0.7rem;
}

.btn-light {
    color: #153963;
}

th {
    background-color: #04fbff41;
    color: #153963;
}

.view {
    color: rgb(52, 174, 255);
}
.edit {
    color: #f89e49;
}

.delete {
    color: #e20004;
}
