.titulo {
    color: white;
    background-color: #153963;
    padding: 0.7rem;
    margin-bottom: 1.5rem;
}

.btn-light {
    color: #153963;
}
  
.btn-dark {
    background-color: #153963;
    border-color: #153963;
}

.obligatorio {
    color: red;

}