<div class="conatiner mt-5">
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-1"></div>
        <div class="col-lg-6 col-md-8 col-sm-10">
            <form [formGroup]="formularioCliente" class="row g-3 mb-4">
                <div class="col-12">
                    <label for="codigo" class="form-label">Código<span class="obligatorio">*</span></label>
                    <input matInput type="text" class="form-control" id="codigo" name="clienteCodigo" formControlName="clienteCodigo" [ngClass]="{'invalid': formularioCliente.controls['clienteCodigo'].invalid && formularioCliente.controls['clienteCodigo'].touched}">
                    <div *ngIf="formularioCliente.controls['clienteCodigo'].invalid && formularioCliente.controls['clienteCodigo'].touched">
                        <div [hidden]="!formularioCliente.controls['clienteCodigo'].errors?.['requerido']">
                            Campo obligatorio.
                        </div>
                        <div *ngIf="formularioCliente.controls['clienteCodigo'].errors?.['codigoExistente']">
                            Este código ya está registrado.
                        </div>
                    </div>
                    
                </div>
                <div class="col-12">
                    <label for="nombre" class="form-label">Nombre<span class="obligatorio">*</span></label>
                    <input matInput type="text" class="form-control" id="nombre" name="clienteNombre" formControlName="clienteNombre" [ngClass]="{'invalid': formularioCliente.controls['clienteNombre'].invalid && formularioCliente.controls['clienteNombre'].touched}">
                    <div *ngIf="formularioCliente.controls['clienteNombre'].invalid && formularioCliente.controls['clienteNombre'].touched">
                        <div [hidden]="!formularioCliente.controls['clienteNombre'].errors?.['requerido']">
                            Campo obligatorio.
                        </div>
                        <div *ngIf="formularioCliente.controls['clienteNombre'].errors?.['nombreInvalido']">
                            El nombre no puede contener carácteres especiales.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="apellido1" class="form-label">Primer Apellido<span class="obligatorio">*</span></label>
                    <input matInput type="text" class="form-control" id="apellido1" name="clienteApellido1" formControlName="clienteApellido1" [ngClass]="{'invalid': formularioCliente.controls['clienteApellido1'].invalid && formularioCliente.controls['clienteApellido1'].touched}">
                    <div *ngIf="formularioCliente.controls['clienteApellido1'].invalid && formularioCliente.controls['clienteApellido1'].touched">
                        <div [hidden]="!formularioCliente.controls['clienteApellido1'].errors?.['requerido']">
                            Campo obligatorio.
                        </div>
                        <div *ngIf="formularioCliente.controls['clienteApellido1'].errors?.['nombreInvalido']">
                            El apellido no puede contener carácteres especiales.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="apellido2" class="form-label">Segundo Apellido</label>
                    <input matInput type="text" class="form-control" id="apellido2" name="clienteApellido2" formControlName="clienteApellido2">
                </div>
                <div class="col-md-6">
                    <label for="inputSelect" class="form-label">Identificación<span class="obligatorio">*</span></label>
                    <div class="input-group mb-3">
                        <select class="form-select" id="inputSelect" formControlName="tipoDocumento">
                        <option value="dni">DNI</option>
                        <option value="pasaporte">Pasaporte</option>
                        <option value="nie">NIE</option>
                        </select>
                        <input matInput type="text" class="form-control" name="identificacion" formControlName="clienteIdentificacion" [ngClass]="{'invalid': formularioCliente.controls['clienteIdentificacion'].invalid && formularioCliente.controls['clienteIdentificacion'].touched}">
                        <div *ngIf="formularioCliente.controls['clienteIdentificacion'].invalid && formularioCliente.controls['clienteIdentificacion'].touched" class="col-12">
                            <p *ngIf="formularioCliente.controls['clienteIdentificacion'].errors?.['identificacionInvalida']">
                              Documento inválido. Introduzca un DNI, Pasaporte o NIE válido.
                            </p>
                            <p *ngIf="formularioCliente.controls['clienteIdentificacion'].errors?.['dniInvalido']">
                                DNI inválido.
                            </p>
                            <p *ngIf="formularioCliente.controls['clienteIdentificacion'].errors?.['pasaporteInvalido']">
                                Pasaporte inválido.
                            </p>
                            <p *ngIf="formularioCliente.controls['clienteIdentificacion'].errors?.['nieInvalido']">
                                NIE inválido.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="nacimiento" class="form-label">Fecha de Nacimiento<span class="obligatorio">*</span></label>
                    <input matInput type="date" class="form-control" id="nacimiento" name="clienteFechaNacimiento" formControlName="clienteFechaNacimiento" [ngClass]="{'invalid': formularioCliente.controls['clienteFechaNacimiento'].invalid && formularioCliente.controls['clienteFechaNacimiento'].touched}">
                    <div *ngIf="formularioCliente.controls['clienteFechaNacimiento'].invalid && formularioCliente.controls['clienteFechaNacimiento'].touched">
                        <p *ngIf="formularioCliente.controls['clienteFechaNacimiento'].errors?.['edadInvalida']">
                          Fecha inválida.
                        </p>
                    </div>
                </div>
                <h3>Direcciones</h3>
                <div class="col-12">
                    <label for="calle" class="form-label">Calle<span class="obligatorio">*</span></label>
                    <input matInput type="text" class="form-control" id="calle" name="clienteCalle" formControlName="clienteCalle" [ngClass]="{'invalid': formularioCliente.controls['clienteCalle'].invalid && formularioCliente.controls['clienteCalle'].touched}">
                    <div *ngIf="formularioCliente.controls['clienteCalle'].invalid && formularioCliente.controls['clienteCalle'].touched">
                        Campo obligatorio.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="portal" class="form-label">Número<span class="obligatorio">*</span></label>
                    <input matInput type="text" class="form-control" id="portal" name="clientePortal" formControlName="clientePortal" [ngClass]="{'invalid': formularioCliente.controls['clientePortal'].invalid && formularioCliente.controls['clientePortal'].touched}">
                    <div *ngIf="formularioCliente.controls['clientePortal'].invalid && formularioCliente.controls['clientePortal'].touched">
                        Campo obligatorio.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="piso" class="form-label">Piso</label>
                    <input matInput type="text" class="form-control" id="piso" name="clientePiso" formControlName="clientePiso">
                </div>
                <div class="col-md-6">
                    <label for="escalera" class="form-label">Escalera</label>
                    <input matInput type="text" class="form-control" id="escalera" name="clienteEscalera" formControlName="clienteEscalera">
                </div>
                <div class="col-md-3">
                    <label for="codigoPostal" class="form-label">Código Postal<span class="obligatorio">*</span></label>
                    <input matInput type="number" class="form-control" id="codigoPostal" name="clienteCodigoPostal" formControlName="clienteCodigoPostal" [ngClass]="{'invalid': formularioCliente.controls['clienteCodigoPostal'].invalid && formularioCliente.controls['clienteCodigoPostal'].touched}">
                    <div *ngIf="formularioCliente.controls['clienteCodigoPostal'].invalid && formularioCliente.controls['clienteCodigoPostal'].touched">
                        Campo obligatorio.
                    </div>
                </div>
                <div class="col-md-5">
                    <label for="ciudad" class="form-label">Ciudad<span class="obligatorio">*</span></label>
                    <input matInput type="text" class="form-control" id="ciudad" name="clienteCiudad" formControlName="clienteCiudad" [ngClass]="{'invalid': formularioCliente.controls['clienteCiudad'].invalid && formularioCliente.controls['clienteCiudad'].touched}">
                    <div *ngIf="formularioCliente.controls['clienteCiudad'].invalid && formularioCliente.controls['clienteCiudad'].touched">
                        <div [hidden]="!formularioCliente.controls['clienteCiudad'].errors?.['requerido']">
                            Campo obligatorio.
                        </div>
                        <div *ngIf="formularioCliente.controls['clienteCiudad'].errors?.['nombreInvalido']">
                            La ciudad no puede contener carácteres especiales.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="provincia" class="form-label">Provincia<span class="obligatorio">*</span></label>
                    <input matInput type="text" class="form-control" id="provincia" name="clienteProvincia" formControlName="clienteProvincia" [ngClass]="{'invalid': formularioCliente.controls['clienteProvincia'].invalid && formularioCliente.controls['clienteProvincia'].touched}">
                    <div *ngIf="formularioCliente.controls['clienteProvincia'].invalid && formularioCliente.controls['clienteProvincia'].touched">
                        <div [hidden]="!formularioCliente.controls['clienteProvincia'].errors?.['requerido']">
                            Campo obligatorio.
                        </div>
                        <div *ngIf="formularioCliente.controls['clienteProvincia'].errors?.['nombreInvalido']">
                            La provincia no puede contener carácteres especiales.
                        </div>
                    </div>
                </div>
                <!--<button type="button" class="btn btn-dark" (click)="agregarDireccion()">Añadir</button>
                <div formArrayName="direcciones">
                    <div *ngFor="let direccion of direcciones.controls; let i = index" [formGroupName]="i" class="direccion-form">
                        <div class="col-12">
                            <label for="calle" class="form-label">Calle<span class="obligatorio">*</span></label>
                            <input matInput type="text" class="form-control" id="calle" name="calle" formControlName="calle"> 
                        </div>
                        <div class="col-md-3">
                            <label for="portal" class="form-label">Número<span class="obligatorio">*</span></label>
                            <input matInput type="text" class="form-control" id="portal" name="numero" formControlName="numero" >

                        </div>
                        <div class="col-md-3">
                            <label for="piso" class="form-label">Piso</label>
                            <input matInput type="text" class="form-control" id="piso" name="piso" formControlName="piso">
                        </div>
                        <div class="col-md-6">
                            <label for="escalera" class="form-label">Escalera</label>
                            <input matInput type="text" class="form-control" id="escalera" name="escalera" formControlName="clienteEscalera">
                        </div>
                        <div class="col-md-3">
                            <label for="codigoPostal" class="form-label">Código Postal<span class="obligatorio">*</span></label>
                            <input matInput type="text" class="form-control" id="codigoPostal" name="codigoPostal" formControlName="codigoPostal">
                            
                        </div>
                        <div class="col-md-5">
                            <label for="ciudad" class="form-label">Ciudad<span class="obligatorio">*</span></label>
                            <input matInput type="text" class="form-control" id="ciudad" name="ciudad" formControlName="ciudad" >
                           
                        </div>
                        <div class="col-md-4">
                            <label for="provincia" class="form-label">Provincia<span class="obligatorio">*</span></label>
                            <input matInput type="text" class="form-control" id="provincia" name="provincia" formControlName="provincia">
                        
                        </div>
                        <button type="button" class="btn btn-danger" (click)="eliminarDireccion(i)">Eliminar</button>
                        <hr>
                    </div>
                </div>-->
                <div class="col-12">
                    <div class="mb-3">
                        <label for="imagenes" class="form-label">Imágenes DNI</label>
                        <div *ngFor="let imgCtrl of clienteImagenes.controls; let i = index">
                            <input class="form-control mt-2" type="file" (change)="manejarCambioArchivo($event, i)" accept="image/*" id="imagenes" formControlName="clienteImagenes">
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-dark" (click)="abrirConfirmacion()" [disabled]="formularioCliente.invalid">Enviar</button>
                </div>
                <div class="col-md-4 text-center">
                    <button type="reset" class="btn btn-dark">Limpiar</button>
                </div>
                <div class="col-md-2"></div>
            </form>
            <div class="col-lg-3 col-md-2 col-sm-1"></div>
        </div>
    </div>
</div>